/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

/* Fundo RPG */
body {
  background: url("https://i.imgur.com/LEidNI8.jpeg");
  background-size: cover;
  background-attachment: fixed;
  color: #f6e6c2;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background: rgba(20, 12, 4, 0.8);
  border-bottom: 4px solid #8b5a2b;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fbd48d;
  text-shadow: 2px 2px 3px #000;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #fbd48d;
  padding: 8px 12px;
  border: 2px solid #8b5a2b;
  border-radius: 5px;
  background: rgba(73, 44, 16, 0.5);
  transition: 0.2s;
}

.nav a:hover {
  background: rgba(120, 70, 25, 0.9);
  transform: scale(1.05);
}

/* MENU MOBILE */
.menu-btn {
  display: none;
  background: none;
  color: #fbd48d;
  font-size: 2rem;
  border: none;
}

@media (max-width: 780px) {
  .nav {
    display: none;
    flex-direction: column;
    background: rgba(27, 16, 7, 0.95);
    position: absolute;
    top: 70px;
    right: 10px;
    padding: 20px;
    border: 2px solid #8b5a2b;
  }

  .nav.aberto {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: rgba(0,0,0,0.55);
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  border: 4px solid #8b5a2b;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  text-shadow: 3px 3px 6px black;
}

/* CARDS */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 40px 0;
  padding-bottom: 60px;
}

.card {
  width: 260px;
  background: rgba(0, 0, 0, 0.6);
  border: 4px solid #8b5a2b;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 15px black;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
  background: rgba(0, 0, 0, 0.8);
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #8b5a2b;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: 0.2s;
}

.btn:hover {
  background: #a56c33;
  transform: scale(1.08);
}

/* FOOTER */
.footer {
  text-align: center;
  background: rgba(0,0,0,0.65);
  padding: 20px;
  margin-top: 40px;
  border-top: 3px solid #8b5a2b;
}
