* {
nav {
display: flex;
gap: 20px;
}


nav a {
background: #3a7bd5;
padding: 10px 20px;
border: 3px solid #1d4d91;
border-radius: 8px;
color: #ffe28a;
text-decoration: none;
transition: .2s;
}
nav a:hover { transform: scale(1.1); }


.intro {
margin: 40px auto;
background: rgba(0,0,0,0.5);
padding: 25px;
border-radius: 10px;
width: 70%;
}


.cards-container {
margin: 40px auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding-bottom: 80px;
}


.card {
background: rgba(0,0,0,0.6);
padding: 20px;
width: 240px;
border: 3px solid #2e5cad;
border-radius: 10px;
display: block;
text-decoration: none;
color: white;
transition: .3s;
}


.card img {
width: 100px;
margin-bottom: 10px;
}


.card:hover { transform: scale(1.07); }


footer {
background: rgba(0,0,0,0.5);
padding: 20px;
border-top: 3px solid #1d4d91;
margin-top: 40px;
}
